<div id="post-form">
    <h2>{{title}}</h2>

    <form action="/post" method="POST">
        <div>
            <label for="foodpostTitle">username</label>
            <input type="text" name="foodpostTitle">

        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="content" name="content" required></textarea>
        </div>

        <div>
            <label for="foodType">Food Type:</label>
            <select id="foodType" name="foodType">
                <option value="omnivore">Omnivore</option>
                <option value="vegan">Vegan</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="gluten-free">Gluten-free</option>
            </select>
            <br>
        </div>

        <div>
            <label for="description">Description</label>
            <textarea id="content" name="content" required></textarea>
        </div>

        <div>
            <label for="pick-up-time">Pick-up time range</label>
            <input type="time" id="pick-up-time" name="pick-up-time" required></input>
        </div>

        <div>
            <label for="image">Image URL:</label>
            <input type="text" id="image" name="image"
                value="https://images.media-allrecipes.com/images/75131.jpg"><br><br>
        </div>
        <button type="submit">CREATE</button>


    </form>
</div>