<link rel="stylesheet" href="/stylesheets/style.css" />
<body id="index-body">
<div id="index-container">
    <h1>ALL YOU CAN TUPPER</h1>
    <p>Share with your friends what you don't have time to eat!</p>
    <p>Join now!</p>
    <a href="/auth/signup"><button> Sign Up</button></a>
    <a href="auth/login"><button>Login </button></a>
</div>
</body>