
<link rel="stylesheet" href="/stylesheets/style.css" />
    <div class="index-container">
        <h1>🚀 {{appTitle}} 🚀</h1>
        <p>this is the index.hbs</p>

        <a href="/auth/signup"><button> Sign Up</button></a>
        <a href="auth/login"><button>Login </button></a>
    </div>

