<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ALL YOU CAN TUPPER!</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <main>
    <nav class="navbar">
      <ul>
        <li ><a class="nav-elements" href="/auth/feed">Home</a></li>
        <li ><a class="nav-elements" href="/post/post-create">Share Tupper</a></li>
        <li ><a class="nav-elements" href="/user/user-profile">My Profile</a>
        <li ><form  action="/auth/logout" method="POST"><button class="nav-elements" >Logout</button></form></li>
      </ul>
    </nav>
  </main>
  {{{body}}}
  <script src="/js/script.js"></script>
</body>
</html>
