<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ALL YOU CAN TUPPER!</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <main>
    <nav class="navbar">
      <ul>
        <li><a class="nav-elements" href="/auth/feed">Home</a></li>
        {{#if user}}
        <li class="nav-welcome">Welcome, {{user.username}}!</li>
        <li><a href="/post/post-create" class="nav-elements">Share Tupper</a></li>
        <li><a href="/user/user-profile" class="nav-elements">My Profile</a>
        <li>
          <form id="logout-form" action="/auth/logout" method="POST"><button class="nav-elements">Logout</button></form>
        </li>
        {{/if}}
      </ul>
    </nav>
  </main>
  {{{body}}}
  <script src="/js/script.js"></script>
</body>

</html>