<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ALL YOU CAN TUPPER!</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <main class="nav-container">
    <nav class="navbar">
      {{#if displayHome}}
      <a id="home-button" href="/auth/feed">Home</a>
      {{/if}}
      <ul>

        {{#if user}}
        <li class="nav-welcome "> Welcome,<br><span class="username">{{user.username}}!</span></li>

        {{/if}}

        <li><a href="/post/post-create" class="nav-elements">Share Tupper</a></li>

        {{#if displayProfileButton}}
        <li><a href="/user/user-profile" class="nav-elements">My Profile</a>
          {{/if}}
        <li>
          <form id="logout-form" action="/auth/logout" method="POST">
            <button class="nav-elements">Logout</button>
          </form>
        </li>
        <li>
          <form  id="logout-form-icon"action="/auth/logout" method="POST">
            <button>  <i class="fa fa-sign-out nav-elements mobile-icon"></i></button>
          </form>
        </li>
      </ul>
    </nav>
  </main>
  {{{body}}}
  <script src="/js/script.js"></script>
</body>

</html>