@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

body {
  width: 100%;
  height: 100%;
  font: 14px "Raleway", sans-serif;
  background-image: url('/images/backgroundnew.jpg');
  background-size: cover;
}

.first-pages-body {
  width: 100%;
  height: 100%;
  font: 16px "Raleway", sans-serif;
  background-image: url("/images/backgroundnew.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-container{
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 2em;
  height: 4em;
  margin-top: 2em;
  width: 90%;
 

}

ul {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: end;
  list-style-type: none;
  gap: 2em;
  margin-right: 1.5em;


}

#home-button {
  margin-left: 25px;
  margin-top: 15px;

  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
  border: none;

}

#logout-form button {
  border: 0px;
  font-size: 1.5em;
  background-color: rgba(101, 101, 167, 0);
}


.nav-welcome {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
  border: none;
  margin-left: 25px;
}

.nav-elements {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
  border: none;
}

.nav-elements:hover {
  color: yellow
}

#home-button:hover{
  color: yellow
}

nav ul li a.active {
  color: aliceblue;
}

.index-container {

  font-family: 'Raleway', sans-serif;

}

#post-img {
  max-width: 20em;
}

.post-form {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 15px;
  margin: 15px;
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
}

#pick-up-time {
  display: flex;
}

#index-container {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 10px;
}

#title1part {
  font-size: 60px;
  font-weight: bolder;
}

#title2part {
  font-size: 100px;
  font-weight: bolder;
  line-height: 0.6em;
}

#join-now {
  font-weight: bolder;
  font-size: 16px;
}

.catch-phrase {
  font-size: 16px;

}

.button {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  background-color: black;
  margin: 5px;
  padding: 5px;
  height: 32px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

.button:hover {
  color: black;
  font-size: 16px;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  padding: 5px;
  height: 32px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

#login-form {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 10px;
}

#form {
  font-size: 16 px;
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 10px;
}

.form-login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-pages-logos {
  height: 80px;
}

.fill-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.food-image {

  max-width: 180px;

  height: 180px;
  width: 180px;

  border-radius: 2em;
  object-fit: cover;
}

.feed-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 2em;
  padding: 30px;
  flex-wrap: wrap;
}

.food {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 2em;
  padding: 15px;
  margin: 20px;
}

.food-post-title {
  font-size: 2em;
}

.food-post-details {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.food-post-text {
  padding: 10px;
}

.general-feed-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.tuppers-shared {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

}

.tupper-shared {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 15px;
  padding: 20px;
  width: 340px;
  height: 360px;
  border-radius: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;

}

.catch-phrese-feed {
  font-size: 35px;
  color: black;
  border-radius: 0.7em;
  padding: 10px;
}

.feed-container-user {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 30px;
}

.nav-user {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 15px;
  margin: 20px;
}

.user-data {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.mobile-icon {
  display: none;
}

@media (max-width: 450px) {
  .button {
    height: 50px;
    width: 200px;
    margin: 20px;
    font-size: 25px;
    border-radius: 30px;
    background-color: black;
  }

  #join-now {
    font-size: 25px;
  }

  .catch-phrase {
    font-size: 25px;
  }

  #title1part {
    font-size: 37px;
  }

  #title2part {
    font-size: 60px;
  }

  #index-container {
    width: 85%;
    height: 90%;
    border-radius: 30px;

  }

  .first-pages-logos {
    height: 180px;
  }

  .food {
    width: 330px;
  }

  .food-image {
    width: 130px;
    height: 130px;
  }

  .food {
    flex-direction: column-reverse;
  }

  .food-post-title {
    font-size: 1.8em;
  }

  #logout-form button {
    font-size: 1em;
    display: none;
  }

  .nav-elements {
    font-size: 1em;
  }

  #home-button{
    font-size: 1em;
  }
  .nav-bar{
    display: flex;
    justify-content: space-around;
    
  }

  .nav-welcome {
    font-size: 1em; 
    
  }


  .feed-container-user {
    width: 330px;
    flex-direction: column;
  }

  .nav-user {
    width: 330px;
    flex-direction: column;
  }

  .user-data {
    flex-direction: column;
  }

  .catch-phrese-feed {
    font-size: 20px;
  }

  .username{
    margin-left: 1px;
  }

.mobile-icon {
    background-color: black;
    text-decoration: none;
    font-size: 1.8em;
    border: none;

}
#logout-form-icon{
  background-color: black;
  text-decoration: none;
  border: none;
  width: 1em;
  
}

li button {
  border: none;
}


}