@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

body {
  padding: 50px;
  width: 100%;
  height: 100%;
  font: 14px "Raleway", sans-serif;
  background-image: url('/images/backgroundnew.jpg');
  background-size: cover;
}

.first-pages-body {
  padding: 50px;
  width: 100%;
  height: 100%;
  font: 16px "Raleway", sans-serif;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 4em;
  border-radius: 2em;
}

ul {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  gap: 2em;
  margin-right: 1.5em;

}

#logout-form button {
  border: 0px;
  font-size: 1em;
  background-color: rgba(101, 101, 167, 0);
}
.nav-welcome {

  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
  border: none;
}

.nav-elements {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
  border: none;
}

.nav-elements:hover {
  color: yellow
}

nav ul li a.active {
  color: aliceblue;
}

.index-container {

  font-family: 'Raleway', sans-serif;

}

#post-img {
  max-width: 20em;
}

.post-form {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 15px;
  margin: 15px;
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
}

#pick-up-time {
  display: flex;
}

#index-container {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 10px;
}

#title1part {
  font-size: 60px;
  font-weight: bolder;
}

#title2part {
  font-size: 100px;
  font-weight: bolder;
  line-height: 0.6em;
}

#join-now {
  font-weight: bolder;
  font-size: 16px;
}

.catch-phrase {
  font-size: 16px;
}

.button {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  background-color: black;
  margin: 5px;
  padding: 5px;
  height: 32px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

.button:hover {
  color: black;
  font-size: 16px;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  padding: 5px;
  height: 32px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

#login-form {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 10px;
}

#form {
  font-size: 16 px;
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 10px;
}

.form-login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-pages-logos {
  height: 80px;
}

.fill-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.food-image {

  max-width: 180px;

  height: 180px;
  width: 180px;

  border-radius: 2em;
  object-fit: cover;
}

.feed-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 2em;
  padding: 30px;
  flex-wrap: wrap;
}

.food {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 2em;
  padding: 15px;
  margin: 20px;
}

.food-post-title {
  font-size: 2em;
}

.food-post-details {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.food-post-text {
  padding: 10px;
}
.general-feed-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.profile-image {
  width:150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.tuppers-shared {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

}
.tupper-shared {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 15px;
  padding: 20px;
  width: 340px;
  height: 360px;
  border-radius: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;

}
.catch-phrese-feed {
  font-size: 35px;
}

.feed-container-user {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 30px;
}

.nav-user {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  padding: 15px;
  margin: 20px;
}
.user-data{
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

/*@media  (max-width: 450px) {
  .button {
      height: 100px;
      width: 360px;
      margin: 20px;
      font-size: 40px;
      border-radius: 30px;
      background-color: brown;
  }
  #join-now {
    font-size: 40px;
  }
  .catch-phrase {
    font-size: 40px;
  }
  #title1part {
    font-size: 80px;
  }
  
  #title2part {
    font-size: 140px;
  }

  #index-container {
    width: 85%;
    border-radius: 80px;
    
  }
  .first-pages-logos{
    height: 180px;
  }

}*/
